@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
body {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 10px;
    background-image: linear-gradient(45deg, #4b4b4b,#272828,#4b4b4b,#000000c2);
    background-size: 600% 600%;
    animation: color-anim 500s infinite linear alternate;  
    text-align: center;
    font-family: "Poppins", sans-serif;
}
h1{
    background-color: black;
    border-radius: 7px;
    
    border-color: blue;
}
.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field {
    margin-bottom: 10px;
    align-items: center;
}

input,
button {
    border-radius: 3em;
   padding: 10px;
   width: -webkit-fill-available;
}

.loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}
.loading label {
    font-size: 24px;
}

button {
    cursor: pointer;
}
button:active {
    opacity: 0.8;
}
button[disabled] {
    opacity: 0.8;
}

.clear {
    background: transparent;
    border: none;
    color: white;
}
.solid {
    background: white;
    border: none;
    color: rgb(45, 211, 111);
}
.outline {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.error {
    background: red;
    color: white;
    display: none;
} 
@keyframes letras {
    0% {color: #0e380f;}
    25% {color:#0a8710;}
    50% {color: #099307; }
    75% {color: #0f4102;}
    100% {color: #000000}

}
#letras {
    animation-name: zilla ;
    animation-duration: 160s;
    animation-iteration-count: infinite;
    
}
